.title{
    color:red;
    text-align:center;
}
body{
    background-color:lightblue;
}
.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
    text-align:center;
    color:black;
}
#link1{

  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#link2{

display:inline;

}
#link3{
display: inline;


}
.calories{
    text-align:center;

}
#link4{

text-align:left;
 margin-top: -36.5em;


}
.box{

     border: 1px solid green ;

}
.maint{
  display: block;
  font-size: 2em;
  margin-top: -5em;
  margin-bottom: 7em;
  text-align:center;
  margin-right: 0;
  font-weight: bold;
}
.maints{
display: block;
  font-size: 2em;
  margin-top: -7em;
  margin-bottom: 7em;
  text-align:center;
  margin-right: 0;
  font-weight: bold;
}
.maintse{
   display: block;
  font-size: 2em;
  margin-left:36em;
  margin-top: -9.9em;
  margin-bottom: 7em;
  text-align:center;
  margin-right: 0em;
  font-weight: bold;
}
.maintset{
    display: block;
  font-size: 2em;
  margin-top: -7em;
  margin-bottom: 7em;
  text-align:center;
  margin-right: -38em;
  font-weight: bold;
}
